<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Page d'acceuil{% endblock %} - JNM</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <link href="https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">
        <link rel="shortcut icon" type= "image/png" href="{{ asset('img/favicon.png')}}" />
        
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        
        <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min[1].css')}}">
        <link rel="stylesheet" href="{{ asset('assets/css/templatemo-breezed.css')}}">
        
        {% block stylesheets %}{% endblock %}

        {% block javascripts %}{% endblock %}
    </head>
    <body>
        <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="{{path('app_projet')}}" class="logo">
                            JNM
                        </a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li class="scroll-to-section"><a href="#top" class="active">Accueil</a></li>
                            <li class="scroll-to-section"><a href="#about" class="active">À propos</a></li>
                            <li class="scroll-to-section"><a href="#connexion">Connexion</a></li>
                            <li class="scroll-to-section"><a href="{{path('app_register')}}">Inscription</a></li>
                            <li class="scroll-to-section"><a href="#réservation">Réservation</a></li>
                            <li class="scroll-to-section"><a href="#contact-us">Contactez-Nous</a></li>
                            

                        </ul>        
                        
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>

    {% block body %}{% endblock %}
    <section class="section" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-xs-12">
                    <div class="left-text-content">
                        <div class="section-heading">
                            <h6>À propos des Journées Nationales de la MIAGE</h6>
                            <h2>Certains de nos partenaires</h2>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-sm-6">
                                <div class="service-item">
                                    <a href="https://pepsi.fr/" rel ="nofollow noopener" target="_blank"> <img src="{{ asset('img/Pepsi-Logo-PNG-Pic.png')}}" alt=""> </a>
                                    <h4><a rel="nofollow noopener" href="https://pepsi.fr/" target="_blank">Pepsi</a></h4>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="service-item">
                                    <a href="https://www.beinsports.com/france/" rel ="nofollow noopener" target="_blank"> <img src="{{ asset('img/Bein_sport_logo.png')}}" alt=""> </a>
                                    <h4><a rel="nofollow noopener" href="https://www.beinsports.com/france/" target="_blank">BeIn Sport</a></h4>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="service-item">
                                    <a href="https://www.canalplus.com/" rel ="nofollow noopener" target="_blank"> <img src="{{ asset('img/canal-logo-png-transparent.png')}}" alt=""> </a>
                                    <h4><a rel="nofollow noopener" href="https://www.canalplus.com/" target="_blank">Canal +</a></h4>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="service-item">
                                    <a href="https://www.wwf.fr/" rel ="nofollow noopener" target="_blank"> <img src="{{ asset('img/panda.png')}}" alt=""> </a>
                                    <h4><a rel="nofollow noopener" href="https://www.wwf.fr/" target="_blank">WWF</a></h4>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <a href="#" class="main-button-icon">
                                    En savoir plus
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-xs-12">
                    <div class="right-text-content">
                        <p>Les Journées Nationales de la Miage sont organisées par <a rel="nofollow noopener" href="https://www.parisnanterre.fr/" target="_blank">L'Université Paris Nanterre</a> en 2023. 
                        <br><br>Définition des JNM lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum.
                      <br><br>This is a Bootstrap v4.3.1 CSS layout. Do you like it? You can feel free to <a rel="nofollow noopener" href="https://templatemo.com/contact" target="_blank">talk to us</a> if you have anything.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section" id="features">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12" data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
                    <div class="features-item">
                        <div class="features-icon">
                            <img src="{{ asset('img/Icone.png')}}" height="30px" width="30px" alt="">
                        </div>
                        <div class="features-content">
                            <h4>Le campus de Nanterre</h4>
                            <p>Proin euismod sem ut diam ultricies, ut faucibus velit ultricies. Nam eu turpis quam. Duis ac condimentum eros.</p>
                            <a href="https://www.parisnanterre.fr/" target="_blank" class="text-button-icon">
                                En savoir plus
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12" data-scroll-reveal="enter bottom move 30px over 0.6s after 0.4s">
                    <div class="features-item">
                        <div class="features-icon">
                            <img src="{{ asset('img/miage.png')}}" height="30px" width="30px" alt="">
                        </div>
                        <div class="features-content">
                            <h4>La Miage de Nanterre</h4>
                            <p>Proin euismod sem ut diam ultricies, ut faucibus velit ultricies. Nam eu turpis quam. Duis ac condimentum eros.</p>
                            <a href="#" class="text-button-icon">
                                En savoir plus
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12" data-scroll-reveal="enter right move 30px over 0.6s after 0.4s">
                    <div class="features-item">
                        <div class="features-icon">
                            <img src="{{ asset('img/eiffel.png')}}" height="50px" width="50px"alt="">
                        </div>
                        <div class="features-content">
                            <h4>Le séjour à Paris</h4>
                            <p>Proin euismod sem ut diam ultricies, ut faucibus velit ultricies. Nam eu turpis quam. Duis ac condimentum eros.</p>
                            <a href="#" class="text-button-icon">
                                En savoir plus
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
        

    <section class="section" id="contact-us">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-xs-12">
                    <div class="left-text-content">
                        <div class="section-heading">
                            <h6>Si vous avez des questions, Contactez-nous via les canaux suivants :</h6>
                        </div>
                        <ul class="contact-info">
                            <li><img src="{{ asset('img/contact-info-01.png')}}" alt="">010-020-0860</li>
                            <li><img src="{{ asset('img/contact-info-02.png')}}" alt=""><a href="mailto:40006679@parisnanterre.fr">40006679@parisnanterre.fr</a></li>
                        </ul>
                    </div>
                </div>
                
            </div>
        </div>
    </section>

    {% endblock %}
    </body>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-xs-12">
                    <div class="left-text-content">
                        <a rel="nofollow noopener" href="https://www.parisnanterre.fr/" target="_blank"><img src="{{ asset('img/Icone.png')}}" alt=""><br>Copyright &copy; 2022 Fond de la classe Co., Ltd. </a>
                    </div>
                </div>
                <div class="col-lg-6 col-xs-12">
                    <div class="right-text-content">
                            <ul class="social-icons">
                                <li><p>Follow Us</p></li>
                                <li><a rel="nofollow" href="https://fb.com/templatemo"></a></li>
                                <li><a rel="nofollow" href="https://fb.com/templatemo"></i></a></li>
                                <li><a rel="nofollow" href="https://fb.com/templatemo"></i></a></li>
                                <li><a rel="nofollow" href="https://fb.com/templatemo"></a></li>
                            </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</html>
