<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <link href="https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">
        <link rel="shortcut icon" type= "image/png" href="{{ asset('img/LogoNanterre.png')}}" />
        
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        
        <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min[1].css')}}">
        <link rel="stylesheet" href="{{ asset('assets/css/templatemo-breezed[1].css')}}">
        <link rel="stylesheet" href="{{ asset('assets/css/font-awesome[1].css')}}">
        <link rel="stylesheet" href="{{ asset('assets/css/lightbox[1].css')}}">
        <link rel="stylesheet" href="{{ asset('assets/css/owl-carousel[1].css')}}">
        {% block stylesheets %}{% endblock %}

        {% block javascripts %}{% endblock %}
    </head>
    <body>
        <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="{{path('app_projet')}}" class="logo">
                            JNM
                        </a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li class="scroll-to-section"><a href="#top" class="active">Accueil</a></li>
                            <li class="scroll-to-section"><a href="#about" class="active">À propos</a></li>
                            <li class="scroll-to-section"><a href="#connexion">Connexion</a></li>
                            <li class="scroll-to-section"><a href="#inscription">Inscription</a></li>
                            <li class="scroll-to-section"><a href="#réservation">Réservation</a></li>
                            <li class="scroll-to-section"><a href="#contact-us">Contactez-Nous</a></li>
                            

                        </ul>        
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>

    <section class="section" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-xs-12">
                    <div class="left-text-content">
                        <div class="section-heading">
                            <h6>À propos des Journées Nationales de la MIAGE</h6>
                            <h2>Certains de nos partenaires</h2>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-sm-6">
                                <div class="service-item">
                                    <img src="{{asset('img/avion.png')}}" alt="">
                                    <h4>Adidas</h4>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="service-item">
                                    <img src="{{asset('img/avion.png')}}" alt="">
                                    <h4>Nike</h4>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="service-item">
                                    <img src="{{asset('img/terre.png')}}" alt="">
                                    <h4>Frank</h4>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="service-item">
                                    <img src="{{asset('img/terre.png')}}" alt="">
                                    <h4>MessiNaingui</h4>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <a href="#" class="main-button-icon">
                                    En savoir plus <i class="fa fa-arrow-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-xs-12">
                    <div class="right-text-content">
                        <p>Les Journées Nationales de la Miage sont organisées par <a rel="nofollow noopener" href="https://www.parisnanterre.fr/" target="_blank">L'Université Paris Nanterre</a> en 2023. 
                        <br><br>Définition des JNM lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum.
                      <br><br>This is a Bootstrap v4.3.1 CSS layout. Do you like it? You can feel free to <a rel="nofollow noopener" href="https://templatemo.com/contact" target="_blank">talk to us</a> if you have anything.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section" id="features">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12" data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
                    <div class="features-item">
                        <div class="features-icon">
                            <img src="{{asset('img/features-icon-1.png')}}" alt="">
                        </div>
                        <div class="features-content">
                            <h4>Le campus de Nanterre</h4>
                            <p>Proin euismod sem ut diam ultricies, ut faucibus velit ultricies. Nam eu turpis quam. Duis ac condimentum eros.</p>
                            <a href="https://www.parisnanterre.fr/" target="_blank" class="text-button-icon">
                                En savoir plus <i class="fa fa-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12" data-scroll-reveal="enter bottom move 30px over 0.6s after 0.4s">
                    <div class="features-item">
                        <div class="features-icon">
                            <img src="{{asset('img/features-icon-1.png')}}" alt="">
                        </div>
                        <div class="features-content">
                            <h4>La Miage de Nanterre</h4>
                            <p>Proin euismod sem ut diam ultricies, ut faucibus velit ultricies. Nam eu turpis quam. Duis ac condimentum eros.</p>
                            <a href="#" class="text-button-icon">
                                En savoir plus <i class="fa fa-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12" data-scroll-reveal="enter right move 30px over 0.6s after 0.4s">
                    <div class="features-item">
                        <div class="features-icon">
                            <img src="{{asset('img/features-icon-1.png')}}" alt="">
                        </div>
                        <div class="features-content">
                            <h4>Le séjour à Paris</h4>
                            <p>Proin euismod sem ut diam ultricies, ut faucibus velit ultricies. Nam eu turpis quam. Duis ac condimentum eros.</p>
                            <a href="#" class="text-button-icon">
                                En savoir plus <i class="fa fa-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
        

    <section class="section" id="contact-us">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-xs-12">
                    <div class="left-text-content">
                        <div class="section-heading">
                            <h2>Si vous avez des questions, Contactez-nous via les canaux suivants :</h2>
                        </div>
                        <ul class="contact-info">
                            <li><img src="{{asset('img/contact-info-01.png')}}" alt="">010-020-0860</li>
                            <li><img src="{{asset('img/contact-info-02.png')}}" alt="">info@company.com</li>
                        </ul>
                    </div>
                </div>
                
            </div>
        </div>
    </section>

    </body>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-xs-12">
                    <div class="left-text-content">
                        <p>Copyright &copy; 2020 Breezed Co., Ltd. 
                        
                        - Design: <a rel="nofollow noopener" href="https://templatemo.com">TemplateMo</a></p>
                    </div>
                </div>
                <div class="col-lg-6 col-xs-12">
                    <div class="right-text-content">
                            <ul class="social-icons">
                                <li><p>Follow Us</p></li>
                                <li><a rel="nofollow" href="https://fb.com/templatemo"><i class="fa fa-facebook"></i></a></li>
                                <li><a rel="nofollow" href="https://fb.com/templatemo"><i class="fa fa-twitter"></i></a></li>
                                <li><a rel="nofollow" href="https://fb.com/templatemo"><i class="fa fa-linkedin"></i></a></li>
                                <li><a rel="nofollow" href="https://fb.com/templatemo"><i class="fa fa-dribbble"></i></a></li>
                            </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</html>
